/* Common styles for all menus */
.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Individual styles */

/* Alonso */
.menu--alonso .menu__item {
	margin: 0;
}

.menu--alonso .menu__link {
	width: 120px;
	height: 3em;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--alonso .menu__link:hover,
.menu--alonso .menu__link:focus {
	color: #929292;
	text-decoration: none;

}

.menu--alonso .menu__item--current .menu__link {
	color: #4285F4;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.menu--alonso .menu__line {
	position: absolute;
	top: 100%;
	left: 0;
	width: 120px;
	height: 2px;
	pointer-events: none;
	border: 1px solid #fff;
	border-width: 0 45px;
	background: #4285F4;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
	-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
	transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}

.menu--alonso .menu__item:nth-child(1).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu--alonso .menu__item:nth-child(2).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.menu--alonso .menu__item:nth-child(3).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(200%, 0, 0);
	transform: translate3d(200%, 0, 0);
}

.menu--alonso .menu__item:nth-child(4).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(300%, 0, 0);
	transform: translate3d(300%, 0, 0);
}

.menu--alonso .menu__item:nth-child(5).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(400%, 0, 0);
	transform: translate3d(400%, 0, 0);
}

.menu--alonso .menu__item:nth-child(6).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(500%, 0, 0);
	transform: translate3d(500%, 0, 0);
}

@media screen and (max-width:55em) {
	.menu--alonso .menu__line {
		top: 3em;
	}

	.menu--alonso .menu__item:nth-child(1).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.menu--alonso .menu__item:nth-child(2).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}

	.menu--alonso .menu__item:nth-child(3).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 6em, 0);
		transform: translate3d(0, 6em, 0);
	}

	.menu--alonso .menu__item:nth-child(4).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 9em, 0);
		transform: translate3d(0, 9em, 0);
	}

	.menu--alonso .menu__item:nth-child(5).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 12em, 0);
		transform: translate3d(0, 12em, 0);
	}

	.menu--alonso .menu__item:nth-child(6).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 15em, 0);
		transform: translate3d(0, 15em, 0);
	}
}
/* Stack items for smaller screens */
@media screen and (max-width:55em) {
	.menu__list {
		display: none;
		margin: 0 auto;
	}
}
