* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

.lecture p, .lecture ol, .lecture ul {
    font-family: Georgia, "Bitstream Charter", "Charis SIL", Utopia, "URW Bookman L", serif;
    font-size: 1.2rem;
    line-height: 2.0rem;
}

a {
  color: #D94F5D;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(0,0,0, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.nmlo-btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(0,0,0, 0.7);
  background-color: rgba(47, 112, 233, 0.7);
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.nmlo-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: inline-block;
    width: 10em;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

@media screen {
  .nmlo-btn {
    padding: 0.75rem 1rem; } }


.page-header {
  color: #000;
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(120deg, #1e3c72, #1e3c72);
  background-position: left bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.nmlo-page-header {
  color: #000;
  text-align: center;
  background-color: #ffffff;
  /* background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(133,172,242,1) 40%, rgba(78,134,236,1) 100%); */
  background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(133,172,242,1) 30%, rgba(78,134,236,1) 100%);
  background-position: left bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 75vh;
}


@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

    
@media screen and (min-width: 64em) {
  .nmlo-page-header {
    padding-top: 5rem;
    /* padding-bottom: 15rem; */
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem; } }

@media screen and (max-width: 64em) {
  .nmlo-page-header {
    padding-top: 5rem;
    /* padding-bottom: 15rem; */
    padding-bottom: 2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem; } }

/* @media screen and (min-width: 42em) and (max-width: 64em) {
  .nmlo-page-header {
    padding: 9rem 4rem; } }

@media screen and (max-width: 42em) {
  .nmlo-page-header {
    padding: 6rem 1rem; } } */

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }
.main-content figure {
    display: inline-block;
}

.nmlo-project-tagline {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 750px;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.95; }

@media screen and (min-width: 64em) {
  .nmlo-project-tagline {
    font-size: 1.5rem; } }

@media screen and (max-width: 64em) {
  .nmlo-project-tagline {
    font-size: 1rem; } }
.main-content figure {
    display: inline-block;
}

.nmlo-project-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 750px;
  margin-bottom: 2rem;
  font-weight: normal;
  /* text-decoration: underline; */
  opacity: 0.8; }

@media screen and (min-width: 64em) {
  .nmlo-project-header {
    font-size: 2rem; } }

@media screen and (max-width: 64em) {
  .nmlo-project-header {
    font-size: 1.5rem; } }
.main-content figure {
    display: inline-block;
}

.countdown-timer-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.9; }

@media screen and (min-width: 64em) {
  .countdown-timer-tagline {
    font-size: 3rem; } }

@media screen and (max-width: 64em) {
  .countdown-timer-tagline {
    font-size: 2rem; } }
.main-content figure {
    display: inline-block;
}


p.caption {
  font-variant: small-caps;
  text-align: center;
}
.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #4285F4; }
.lecture h1 {
    font-size: 1.8em;
}
.lecture h2 {
      color: #000;
      font-weight: bold;
      font-size: 1.4em;
}
.lecture h3 {
      color: #4285F4;
      font-weight: bold;
      font-size: 1.2em;
}
.instructions h6 {
    color: #000;
    font-weight: bold;
      font-size: 1.2em;
      text-align: center;
}
.instructheader h4 {
  color: #D94F5D;
  list-style: none;
  display: block;
  cursor: pointer;
  min-height: 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  padding: 0.75rem 0rem 0.75rem 0rem;
  margin-bottom: 0.1rem;
}
.box {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
    padding: 0 1rem;
}

.nmlo-instructheader h4 {
  color: #D94F5D;
  text-align: center;
  list-style: none;
  display: block;
  cursor: pointer;
  min-height: 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  padding: 0.75rem 0rem 0.75rem 0rem;
  margin-bottom: 0.1rem;
}

.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }

.lecture code, .lecture tr, .lecture th, .lecture td {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
    font-size: 1em;
}
.lecture code {
    font-size: 0.9em;
}

.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }


.content {
    min-height: calc(100vh - 12rem);
}

.site-footer {
  padding-top: 2rem;
  padding-bottom: 1.3rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
